<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <title>Add Email</title>   
</head>
<body>
    <h1>Add Email</h1>
    <form action="add-email" method="post">
        <p>User: <input id="user" type="text" name="user_name" /></p>
        <p>Email: <input id="email" type="text" name="email_address" /></p>
        <button type="submit">Add a new email account for a user</button>
    </form>

</body>

</html>