<!DOCTYPE html>
<html>
    <head>
        <title>This is the attendee event page</title>
    </head>
    <body>
        <h1>Attendee Event Page</h1>
        <a href="/attendee">Back to Home</a>
    </body>
</html>