<!DOCTYPE html>
<html>
    <head>
        <title>This is the edit event page</title>
    </head>
    <body>
        <h1>Edit Event Page</h1>
        <a href="/organizer">Back to Home</a>
    </body>
</html>