<!DOCTYPE html>
<html>
    <head>
        <title>This is the home pagee</title>
    </head>
    <body>
        <h1>This is the home page</h1>
        <h2>Click this link to access Attendee Home Page</h2>
        <a href="/attendee">Attendee Home Page</a>
        <h2>Login to access Organizer Home Page</h2>
        <a href="/login">Organizer Home Page</a>

    </body>
</html>