<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/main.css"> <!-- must be after to override bootstrap-->

        <title>Home Page</title>
    </head>
    <body>
    <div class="container bg-light">
        <div class="heroSection">
            <div class="row">
                <h1><%= siteName %></h1>
            </div>
            <div class="row subHeading">
                <p><%= siteDescription %></p>
            </div>
        </div>

        <div class="row">
            <!--two columns for medium screens and larger-->
            <div class="col-md-6 userTypeCard">
                <h2>I'm an attendee</h2>
                <a href="/attendee">Attendee Home Page</a>
            </div>
            <div class="col-md-6 userTypeCard">
                <h2>I'm an organizer</h2>
                <a href="/login">Organizer Home Page</a>
            </div>
        </div>
    </div>
    </body>
</html>