<!DOCTYPE html>
<html>
    <head>
        <title>This is the title of the webpage</title>
    </head>
    <body>
        <h1>This is the home page</h1>
        <p>Are you an organizer or attendee?</p>
        <a href="/organizer">Organizer Home Page</a>
        <br>
        <a href="/attendee">Attendee Home Page</a>
    </body>
</html>