<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/main.css"> <!-- must be after to override bootstrap-->

        <title>Home Page</title>
    </head>
    <body>
        <h1><%= siteName %></h1>
        <p><%= siteDescription %></p>
        <h2>I'm an attendee</h2>
        <a href="/attendee">Attendee Home Page</a>
        <h2>I'm the organizer</h2>
        <a href="/login">Organizer Home Page</a>

    </body>
</html>