<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/main.css"> <!-- must be after to override bootstrap-->

        <title>This is the login page</title>
    </head>
    <body>
        <h1>This is the login page</h1>
        <form action="/login" method="post">
            Username: <input id="user" type="text" name="user" />
            Password: <input id="pass" type="text" name="pass" />
            <input type="submit" value="Login">
        </form>
    </body>
</html>