<!DOCTYPE html>
<html>
    <head>
        <title>This is the organizer home page</title>
    </head>
    <body>
        <h1>Organizer Home Page</h1>
        <a href="/organizer/site-settings">Site Settings</a>
        <h2>Site Information</h2>
        <p>Event Manager Name: </p>
        <p><%= siteName %></p>
        <p>Event Manager Description: </p>
        <p><%= siteDescription %></p>

        <form action="/organizer/add-event" method="get">
            <button type="submit">Add New Event</button>
        </form>

        <script src="/organizer.js"></script>
    </body>
</html>

