<!DOCTYPE html>
<html>
    <head>
        <title>This is the organizer home page</title>
    </head>
    <body>
        <h1>Organizer Home Page</h1>
        <a href="/organizer/site-settings">Site Settings</a>
    </body>
</html>