<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/main.css"> <!-- must be after to override bootstrap-->

        <title>This is the site settings page</title>
    </head>
    <body>
        <h1>Site Settings</h1>
        <a href="/organizer"><button>Back to Home</button></a>
        <form method="POST" action="/organizer/site-settings">
            Event Manager Name: <input id="siteName" type="text" name="siteName" value="<%= siteName %>" required/>
            Event Manager Description: <input id="siteDescription" type="text" name="siteDescription" value="<%= siteDescription %>" required/>
            <input type="submit" value="Submit" />
        </form>
    </body>
</html>