/* Define styles */

body {
    background: white;
}

h1 {
    font-family: Helvetica, Gotham, sans-serif;
    font-weight: bold;
    font-size: 4em;
    text-align: center;
    color: #fd7e14;
}

h2 {
    font-family: Helvetica, Gotham, sans-serif;
    font-weight: normal;
    font-size: 3em;
    text-align: left;

    color: #dc3545;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 2em;
    color: purple;
}

p {
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 1em;
    color: #2c1a4d;
}

a {
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 1em;
    color: #055160;
}



/*The following change the styles for the tables. */
table {
    display: block; /* Allows overflow-x to be applied */
    width: 100%; /* Ensures table attempts to fill container */
    overflow-x: auto; /* Adds horizontal scrollbar when needed */
    word-break: normal; /* Prevents text from breaking within cells */
    border-collapse: separate;
    border-spacing: 1em;
}
/*Adds a border line below the header in the table. */
th {
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 1em;
    color: #59359a;
    border-bottom: 1px solid #ddd;


}

/*Adds a border line below each row in the table. */
td {
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 1em;
    color: #2c1a4d; 
    height: 2em;
    text-align: left;
    /* border-bottom: 1px solid #ddd; */
}

thead td:hover {
  /* Optional: If you want specific hover styles for thead, define them here */
  background-color: initial; /* Example: prevents background color change */
}


/*Adds a mouse hover effect over a specific row. */
td:hover {
    background-color: #e6e7e8;

}


/*----Index Page CSS-------------------------------------------*/

.heroSection{
    padding: 4em;
}

.subHeading{
    text-align: center;
}

.userTypeCard{
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 4em;
    text-align: center;
}

.userTypeCard h2 {
    text-align: center;
}

/*----Organizer Page CSS-------------------------------------------*/

.siteInfo{
    padding-top: 0em;
    padding-bottom: 2em; 
    padding-left: 4em;
    padding-right: 4em;
}

.siteSettingsAction{
    padding-bottom: 1em;
}

.publishedEvents{
    padding-top: 2em;
    padding-bottom: 2em; 
    padding-left: 4em;
    padding-right: 4em;
}

.draftEvents{
    padding-top: 2em;
    padding-bottom: 2em; 
    padding-left: 4em;
    padding-right: 4em;
}

/*----Site Settings Page CSS-------------------------------------------*/

.siteSettingsForm{
    padding-top: 0em;
    padding-bottom: 10em; 
    padding-left: 0em;
    padding-right: 0em;
}

